/main/bin
/main/gen
/main/.classpath
/main/local.properties
/main/proguard*
/ActionBarSherlock/bin
/ActionBarSherlock/gen
/ActionBarSherlock/proguard*
/ActionBarSherlock/.classpath
/ActionBarSherlock/local.properties
/JMPDComm/JMPDComm.jar
/JMPDComm/bin
/JMPDComm/gen
/JMPDComm/proguard*
/JMPDComm/classes
/JMPDComm/.classpath
/JMPDComm/local.properties
/lastfm-java/bin
/apache-*/
/*.apk
/.travis-*
**/local.properties*
**/*.min.jar
**/proguard_cache/
**/.settings/
**/.cache
.workspace/
.DS_Store
*.class
*.log
main/.cache-main
